header {
  height: 10vh;
}

nav {
  padding: 0;
}

nav ul li {
  margin: 1.5rem 2rem 0 0;
}

nav a {
  font-size: 1.3rem;
}

nav ul li:nth-child(3) {
  margin-right: 1rem;
}

nav .google-aps {
  height: 4rem;
  width: 4rem;
  padding: .8rem;
}

nav .account-li {
  padding: .6rem;
}

nav .account-img {
  height: 3.2rem;
  width: 3.2rem;
}


.container {
  height: 75vh;
}

figure img {
  width: 27rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.input-search input {
  height: 4.5rem;
  width: 60rem;
  font-size: 1.5rem;
  padding: .5rem 4.5rem;
}

.input-search .icon-search {
  width: 2rem;
  height: 3rem;
  top: 8px;
  left: 15px;
}

.input-search .icon-micro {
  width: 2rem;
  height: 3rem;
  top: 8px;
  right: 15px;
}

.buttons {
  margin: 3rem 0;
}

.btn {
  height: 3.7rem;
  width: 15rem;
  font-size: 1.5rem;
}

.language-container p,
.language-container a  {
  font-size: 1.5rem;
}

.language-container p {
  margin-right: 1rem;
}

footer {
  height: 15vh;
}

.footer-country {
  padding: 1.7rem 0 1.7rem 3rem;
}

.footer-country h3 {
  font-size: 1.5rem;
}

.footer-container {
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-container a {
  font-size: 1.4rem;
}

.footer-left ul li,
.footer-right ul li {
  margin: 0 1.5rem;
}

.footer-left ul li:first-child {
  margin-left: 3rem;
}

.footer-right ul li:last-child {
  margin-right: 3rem;
}